@page
@model TestePratico.Pages.Movimentacaos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movimentacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movimentacao.Tipo" class="control-label"></label>
                <select asp-for="Movimentacao.Tipo" class="form-control">
                    @foreach (var tipo in Enum.GetValues(typeof(Models.TipoMovimentacaoEnum)))
                    {

                        <option value="@tipo">@tipo</option>
                    }
                </select>
                <span asp-validation-for="Movimentacao.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movimentacao.ConteinerId" class="control-label"></label>
                <select asp-for="Movimentacao.ConteinerId" class ="form-control" asp-items="ViewBag.ConteinerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
